.companylogo {
  width: 75px;
  height: 75px;
  margin: 1px;
}

.landingbtn {
  margin: 30px;
}

.landingCard {
  margin-top: 100px;
}

.loginBtn {
  margin: 40px 20px;
}

.loginFormField {
  margin-top: 30px;
  margin-bottom: 20px;
}

.spinnerProperty {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: 300px;
}
.siteName {
  margin-top: 100px;
}

.dashboardbtnitem {
  margin: 10px;
}

.dashboarddeletebtn {
  margin: 50px 10px;
}

.editProfileHeader {
  border: yellowgreen;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 40px;
}

/* Forms */
.socialmedia {
  margin: 30px 10px;
  padding: 5px;
}

.iconmg {
  margin-top: 10px;
}

.btnm {
  margin: 20px;
  width: 200px;
}
.danger {
  background-color: red;
}

.success {
  background-color: green;
}

.newPostTextM {
  margin: 30px;
}

.profileImg {
  margin-top: 30px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.imgcontainer {
  margin: 0;
}

.post-date {
  color: #aaa;
  font-size: 0.9rem;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.user_name {
  font-size: 14px;
  color: green;
}
.btn-m {
  margin: 2px;
}

.comment-count {
  background: #00b0ff;
  color: #76ff03;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-left: 10px;
}

.mycontainer {
  width: 100%;
  height: auto;
  margin: 5px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box {
  width: 100%;
  height: auto;
  background: #ff7f50;
}
.myimage {
  border-radius: 50%;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
.skill-item {
  display: inline-block;
  margin: 10px;
}
.textContainer {
  margin: 10px;
  padding: 20px;
}
.protop {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.socialicon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
}
.socialiconEI {
  margin: 10px;
  color: #00b0ff;
}
.propmyImage {
  border-radius: 50%;
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

.skillsContainer {
  padding: 10px;
}

.profExpmy {
  padding: 20px;
}
.contmy {
  margin-top: 30px;
}
@media screen and (max-width: 1200px) {
  .box {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .box {
    width: 100%;
  }
}
